/* body style  */
body {
    margin: 0;
}

/* button style  */
.btn-primary {
    color: white;
    align-items: center;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    padding: 15px;
    border: 0;

}

/* header section style  */
header {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
}

.header-section {
    background-image: url('../resources/Banner\ Image.png');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.header-mini-title,
.header-title {
    text-align: center;
}

.header-mini-title {
    font-size: 32px;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

.header-title {
    font-size: 72px;
    font-family: "Merriweather", serif;
    font-weight: 900;
}

/* main section */
main {
    margin-left: 120px;
    margin-right: 120px;
}

.categories-section {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.title-section {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.section-description {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.section-title2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.categroies-img {
    width: 800px;
    height: 500px;
    margin-top: 50px;
}

.main-image-section {
    margin-top: 100px;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    height: 600px;
}

/* main-image-section */
.main-image-section {
    display: flex;
    justify-content: space-between;
    gap: 50dp;
    padding: 120px;
    align-items: center;
}

.main-img-part-one {
    width: 50%;
}

.main-img-title {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    color: white;
}

.main-img-paragrap {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

h6>.join-now {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

h6>a {
    text-decoration: none;
}

/* date place style  */
.place-date-container {
    height: 280px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 50px 80px;
}

.date {
    margin-top: 0px;
    margin-bottom: 0px;
}

h5>span {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

h5 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
}

/* comming-soon-container */
.comming-soon-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.comming-soon-div-1 {
    width: 33.33%;
}

.comming-soon-div-2 {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.comming-soon-img {
    width: 320px;
    height: 320px;
    align-items: center;
}

.cooming-soon-h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.comming-soon-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
}

.comming-soon-paragrap {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

.comming-soon-2024 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

/* holiday-sales-container */
.holiday-sales-container {
    margin-top: 100px;
    text-align: center;
}

.holiday-paragrap {
    padding: 0 120px 0 120px;
}

.holiday-title-2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: rgb(7, 2, 17);
}

.holiday-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: rgb(7, 2, 17), ;
}

h1>span {
    color: rgb(255, 0, 0);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}